body{
  background-image: url(images/low-poly-grid-haikei.png);
  background-size: cover;
}
.player {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 115vh;
    	margin: -20px 0 50px;
      margin: 0;


    }

    iframe {
      border-radius: 10% 1.3%;
      border: 2px dashed #333;

    }
